<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HUELLAS.Properties.Settings.usersConnectionString"
            connectionString="data source=users.db" providerName="System.Data.SQLite" />
        <add name="HUELLAS.Properties.Settings.pruebaConnectionString"
            connectionString="data source=&quot;C:\Documents and Settings\Administrador\Mis documentos\PFC\trunk\Utils\User Register Windows\HUELLAS\bin\Debug\prueba.db&quot;"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>