<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectDOTNET.Properties.Settings.TelefonosConnectionString"
            connectionString="Data Source=PC-Jon;Initial Catalog=Telefonos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjectDOTNET.Properties.Settings.TelefonosConnectionString1"
            connectionString="Data Source=PC-Jon;Initial Catalog=Telefonos;Persist Security Info=True;User ID=sa;Password=ander"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>